<ion-header>
  <ion-navbar>
    <ion-title>
      <div id="">Profiel</div>
      <div id="">
        <ion-item *ngFor="let branch of branchArray" (click)='addItem()'>
          <button ion-button full>
            {{branch.name}}

          </button>
        </ion-item>
        <div> <a href="" ng-click="open()">Afmelden</a></div>
        
      </div>
      <div id=""></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2>Pdf Icon</ion-col>
      <ion-col col-10>
        Document Info
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-7>Last opened on<ion-datetime [(ngModel)]="date" displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime> </ion-col>
      <ion-col col-5>
        User with access: <img alt="" src="" /> John Doe(Owner)
        <button>Remove User</button>
        <button>Add User</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-7>
        <div id="">Last opened on<ion-datetime [(ngModel)]="date" displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime></div>
      </ion-col>
      <ion-col col-5>
        User with access: <img alt="" src="" /> John Doe(Owner)
        <button>Remove User</button>
        <button>Add User</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>Pdf Icon</ion-col>
      <ion-col col-10>
        Document Info
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button>Button</button>
  <!-- Drag and drop area-->
  <!-- List expirementation-->
  <ion-list>
    <ion-item *ngFor="let documents of documenttypes">
      {{documents.document}}<!-- komt van home.ts-->
    </ion-item>
  </ion-list>
</ion-content>
